asgiref
certifi    
charset-normalizer
Django
django-environ
djangorestframework
djangorestframework_simplejwt
drf-yasg
idna
inflection
mysqlclient
packaging
pillow
PyJWT
pytz
PyYAML
requests
sqlparse
tzdata
uritemplate
urllib3